{% extends "../../layouts/app.html" %}

{% block title %}密码重置{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">密码重置</div>

        <div class="card-body">
          <form method="POST" action="{% route 'password.email' %}">
            {{ csrfInput | safe }}

            <div class="form-group row">
              <label for="email" class="col-md-4 col-form-label text-md-right">E-Mail</label>

              <div class="col-md-6">
                <input id="email" type="email" class="form-control {% if validatorMessageMap.email %} is-invalid {% endif %}"
                  name="email" value="{{ oldValue.email }}" required>

                {% if validatorMessageMap.email %}
                  <span class="invalid-feedback" role="alert">
                    <strong>{{ validatorMessageMap.email.0 }}</strong>
                  </span>
                {% endif %}
              </div>
            </div>

            <div class="form-group row mb-0">
              <div class="col-md-6 offset-md-4">
                <button type="submit" class="btn btn-primary">
                    发送重设密码链接
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
