{% extends "../layouts/app.html" %}

{% block title %}话题列表{% endblock %}

{% block content %}

<div class="row mb-5">
  <div class="col-lg-9 col-md-9 topic-list">
    <div class="card ">

      <div class="card-header bg-transparent">
        <ul class="nav nav-pills">
          <li class="nav-item"><a class="nav-link active" href="#">最后回复</a></li>
          <li class="nav-item"><a class="nav-link" href="#">最新发布</a></li>
        </ul>
      </div>

      <div class="card-body">
        <!-- 话题列表 -->
        {{ len(topics) }}
        {{ data.0 }}
        {{users}}
        {% include '_topic_list.html' %}
        <!-- 分页 -->
        <div class="mt-5">
          <!-- {!! $topics->appends(Request::except('page'))->render() !!} -->
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-3 sidebar">
    {% include '_sidebar.html' %}
  </div>
</div>

{% endblock %}
