<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSRF Token -->
  {{ csrfMeta | safe }}

  <title>{% block title %}LaraBBS{% endblock %} - 进阶教程</title>
  <meta name="description" content="{% block description %}LaraBBS 爱好者社区{% endblock %}" />

  <!-- Styles -->
  <link href='{% mix "css/font.css" %}' rel="stylesheet">
  <link href='{% mix "css/app.css" %}' rel="stylesheet">
  {% block style %}{% endblock %}

</head>

<body>
  <div id="app" path="{{ route_path }}">

    {% include "_header.html" %}

    <div class="container">

      {% include "../shared/_messages.html" %}

      {% block content %}
      {% endblock %}

    </div>

    {% include "_footer.html" %}
  </div>

  <!-- Scripts -->
  <script src='{% mix "js/app.js" %}'></script>
  {% block script %}{% endblock %}
</body>

</html>
